@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #1E1E1E;
    width: 100%;
}
.hero{
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.pb{

    background-image: linear-gradient(to right, #F7EC97, #CE8D0F);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;

}

.img{
    
    bottom: 0;

}

@media only screen and (max-width: 1000px) {

    .visible{
        display: none;
    }
  
  }